/* General Styles */

@font-face{
    font-family: 'helvetrica';
    src: url(public/Helvetica-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
body {
    font-family: 'helvetica';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;   
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina los paddings predeterminados */
    background-image: url('public/img/1920x1080.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo */
    background-position: center; /* Centra la imagen */
    
    
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}


/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    overflow-x: hidden
}
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left:65px;
}
.menu a {
    color: #fff;
    font-weight: bold;
}
.logo {
    width: 40px;
    height: auto;
    align-items: center;
}
/* Hacer que todos los desplazamientos sean suaves */
html {
    scroll-behavior: smooth;
  }
/* Estilos para el botón "Subir al Top" */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;  /* A 20px desde la parte inferior */
    right: 40px;   /* A 20px desde la parte derecha */
    background-color: #333;  /* Fondo oscuro */
    color: white;   /* Color blanco para el texto */
    border: none;   /* Sin borde */
    border-radius: 50%;  /* Botón redondeado */
    padding: 10px 15px;  /* Un poco de padding */
    font-size: 18px;  /* Tamaño de la fuente */
    cursor: pointer;  /* Cursor de mano cuando pase por encima */
    display: none;  /* Inicialmente invisible */
    z-index: 1000;   /* Asegúrate de que esté por encima de otros elementos */
  }
  
  #scrollTopBtn:hover {
    background-color: #555;  /* Cambio de color cuando pasas el ratón */
  }
    
.socials {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 65px;
}
.socials img {
    width: 20px;
    height: auto;
}

/* Section Styles */
section {
    padding: 50px 20px;
    text-align: center;
    
}
/**/
/* Estilo de la sección general */
.tour-section {
    text-align: center;
    padding: 0px;
    /* background-color: #000000; */
}

/* Enlace contenedor de la imagen */
.tour-link {
    display: block;
    margin: 0 auto;
    text-decoration: none; /* Sin subrayado */
}

/* Imagen de fondo para la sección */
.tour {
    background-image: url('public/img/1920x1080grupo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1920px; /* Ajusta el ancho máximo */
    height: 800px; /* Ajusta la altura */
    cursor: pointer; /* Indica que es clicable */
    border-radius: 8px; /* Opcional: redondear bordes */
    margin-bottom: 20px; /* Espaciado con el contenido */
    color: white;
}
#music {
    background-image: url('public/img/notas\ musicales.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
/* Botón */
button {
    background-color: #d3af62;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/**/
/* .tour {
    background-image: url('public/img/banner2.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tour-container {
    display: block;
    text-decoration: none; /* Evita subrayado en enlaces */
  
/*.tour button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 380px;
    margin-right: 900px;
    
}
 
/* Slider Styles */

.slider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slide {
    min-width: 300px;
    margin: 0 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/**/

/**/
/**/
.slider1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #000;    */
    padding-top: 75px;
    padding-bottom: 75px;
    
}
.slider2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;   
    padding-top: 75px;
    padding-bottom: 75px;
    
}
.slider1 iframe {
    width: 800px; /* Ajusta el ancho */
    height: 450px; /* Ajusta la altura */
    max-width: 100%; /* Asegúrate de que el video sea responsive */
    border-radius: 10px; /* Opcional, añade bordes redondeados */
    margin: 0 20px; /* Espaciado entre el video y los botones */
}
.slider2 iframe {
    width: 800px; /* Ajusta el ancho */
    height: 450px; /* Ajusta la altura */
    max-width: 100%; /* Asegúrate de que el video sea responsive */
    border-radius: 10px; /* Opcional, añade bordes redondeados */
    margin: 0 20px; /* Espaciado entre el video y los botones */
}
.slider1 img {
    width: 300px;
    height: auto;
    border-radius: 7px;
}
.slider2-content {
    text-align: center;
}
.slider2-content h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    
}
.slider2-content h4 {
    margin: 10px 0;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    
    
}
.slider2 button {
    background: transparent;
    border: 2px solid #d3af62;
    color: #d3af62;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin-top: 180px;

}
.slider2-controls {
    right: 10px; /* Alinea los controles hacia la derecha */
    display: flex; /* Cambia la disposición a un diseño de línea (flexbox) */
    gap: 20px; /* Añade una separación de 40px entre los botones */
    position: relative;

}

.slider2-controls button {
    background: transparent;
    border: 2px solid #d3af62;
    color: #d3af62;
    border-radius: 15px;
    padding: 15px;
    text-align: center;   
    position: relative;
    top: 150px;
    left: 150px;         
}
.slider1 button {
    background: transparent;
    border: 2px solid #d3af62;
    color: #d3af62;
    border-radius: 15px;
    padding: 15px;
    text-align: center;

}
.slider1-controls {
    right: 10px; /* Alinea los controles hacia la derecha */
    display: flex; /* Cambia la disposición a un diseño de línea (flexbox) */
    gap: 20px; /* Añade una separación de 40px entre los botones */
    position: relative;

}

.slider1-controls button {
    background: transparent;
    border: 2px solid #d3af62;
    color: #d3af62;
    border-radius: 15px;
    padding: 15px;
    text-align: center;   
    position: relative;
    top: 150px;
    left: 150px;         
}
/* Ecommerce Styles */
/* Estilización general */
.ecommerce {
    text-align: center; /* Centra el título */
    padding: 30px;
    background-color: #000;
    font-family: 'helvetica';
    font-weight: bold;
    
}
.boton-eco {
    background-color: #d3af62;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 5px;
    text-align: center;  
    font-family: 'helvetica';
    font-weight: bold;   

}

/* Título */
.titulo-ecommerce {
    font-size: 28px;
    margin-bottom: 60px;
    color: white;
    background-color: #000;
}

/* Contenedor de ítems */
.items-container {
    display: flex; /* Flexbox para alinear horizontalmente */
    justify-content: center; /* Centra los ítems horizontalmente */
    gap: 60px; /* Espaciado entre ítems */
    flex-wrap: wrap; /* Permite que los ítems se ajusten si no caben */
    background-color: #000;
}

/* Estilo para cada ítem */
.item {
    text-align: center; /* Centra el contenido dentro del ítem */
    width: 300px; /* Ancho de cada ítem */
}

.item img {
    max-width: 100%; /* Escala la imagen dentro del contenedor */
    border-radius: 7px; /* Bordes redondeados */
    margin-bottom: 10px; /* Separación entre la imagen y el texto */
}

.item p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'helvetica';
}

/* Join Section Styles */
.join {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url('public/img/fondo.jpg');
    background-size: cover;
    
}
.join img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.join-form {
    text-align: center;
    color: #fff;
}

.join-form input, .join-form select {
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #d3af62;
    border-radius: 5px;
    color: rgba(255,255,255, 0,7);
}
/* Ajustes para el contenedor del label */
.checkbox-container {
    display: flex; /* Alinea el checkbox y el texto en línea */
    align-items: center; /* Asegura alineación vertical */
    gap: 10px; /* Espacio entre el checkbox y el texto */
    margin: 10px 0; /* Espacio superior e inferior */
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 14px; /* Ajusta el tamaño del texto */
    color: #fff; /* Color del texto */
}

/* Ajustes específicos para el checkbox */
.checkbox-container .checkbox {
    width: 18px; /* Ajusta el tamaño del checkbox */
    height: 18px;
    margin: 0; /* Elimina cualquier margen por defecto */
    accent-color: #d3af62; /* Cambia el color del checkbox a rojo */
}

/* Estilo para el texto pequeño debajo */
.join-form small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: left;
}

/* Botón de suscripción */
.join-form button {
    background-color: #d3af62;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'helvetica';
    font-weight: bold;
}
/* Contenedor para los dos campos de input */
.input-group {
    display: flex; /* Alinea los elementos horizontalmente */
    gap: 100px; /* Espacio entre los inputs */
    justify-content: center; /* Centra el grupo de inputs */
    margin: 10px 0; /* Espaciado alrededor del grupo */
    
}

/* Estilo para los inputs individuales */
.input-group input {
    width: 280px; /* Ajusta el ancho de los inputs */
    padding: 10px;
    border: 2px solid #d3af62;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    
}
/**/
/* Estilo básico para el popup */
/* Popup */
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.popup-content p {
    margin: 0 0 20px;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #d3af62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #d3af62;
}

/*Esta seccion es de la tabla*/
.eventos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la tabla y el contenido horizontalmente */
    text-align: left; /* Centra el contenido dentro del contenedor */
    max-width: 1920px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px; /* Espaciado interno */
    padding-bottom: 120px;
    background-color:#21212181;
    background-size:cover
    
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Centra horizontalmente el contenido del título */
    gap: 10px;
    margin-bottom: 20px;
    color: #d3af62;
    width: 100%;
}

.titulo img {
    height: 30px; /* Ajusta el tamaño de la bandera */
}

table {
    margin: 0 auto; /* Centra la tabla horizontalmente */
    width: 100%; /* Asegura que la tabla ocupe el ancho del contenedor */
    border-collapse: collapse;
}

th, td {
    padding: 10px 15px; /* Espaciado interno en celdas */
    text-align: center; /* Centra texto dentro de las celdas */
    border: 1px solid #d3af6200; /* Bordes de la tabla */
}

th {
    font-weight: bold;
    color: #d3af62; /* Color del encabezado */
    text-align: left;
}

td {
    color: #d3af62; /* Color del contenido */
    text-align: left;
}

.btn {
    background-color: #d3af62;
    color: #121212;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c2984e; /* Color más oscuro al pasar el cursor */
}

.comprar {
    margin-top: 80px;
}

.btn-whatsapp {
    background-color: #d3af62;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    
}

.btn-whatsapp:hover {
    background-color: #c2984e; /* Color más oscuro al pasar el cursor */
}

/**/
/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
footer a {
    color: #fff;
    margin: 0 10px;
}
.enlace {
    color: #d3af62;
}
.container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}    
/* Contenedor de la tabla para permitir desplazamiento horizontal */
.tabla-contenedor {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}

/* Tabla responsive */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ajusta las columnas automáticamente */
}

th, td {
    padding: 10px;
    text-align: left;
    white-space: nowrap; /* Evita el texto dividido en varias líneas */
    overflow: hidden; /* Oculta contenido que exceda el ancho */
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    table {
        font-size: 12px; /* Reduce el tamaño de la fuente */
    }

    th, td {
        padding: 8px; /* Reduce los márgenes */
    }

    .btn {
        font-size: 12px; /* Botones más pequeños */
        padding: 5px 10px;
    }

    .btn-whatsapp {
        width: 100%; /* Botón ocupará todo el ancho */
        margin-top: 10px;
    }
    .titulo {
        display: flex;
        align-items: center;
        justify-content: center; /* Centra horizontalmente el contenido del título */
        gap: 10px;
        margin-bottom: 20px;
        color: #d3af62;
    }
    
    .titulo img {
        height: 30px; /* Ajusta el tamaño de la bandera */
    }
    
}
/* Bandera */
.bandera {
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que respete el flujo del documento */
    margin: 10 auto; /* Centra la imagen horizontalmente */
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
    .bandera {
        max-width: 80%; /* Reduce un poco el tamaño en pantallas pequeñas */
    }
}

  
/* Responsive Styles */
@media (max-width: 768px) {
    iframe {
        width: 100%;
    }
    .slider-controls {
       width: 100%;
    }
 
}

@media (max-width: 768px) { /* Puedes ajustar este valor dependiendo del tamaño en que quieras que se aplique */
    .tour { /* Clase de tu imagen principal */
        background-image: url('public/img/1920x1080grupoVERTICAL.png');
        background-size: cover;
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .spotify-controls,
    .youtube-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Asegúrate de que las clases .spotify-controls y .youtube-controls estén correctamente asignadas en tu HTML */
    }
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Asegúrate de que el menú hamburguesa sea visible */
    }

    .nav-links {
        display: none; /* Esconde el menú de navegación inicialmente */
    }

    .nav-links.show {
        display: block; /* Muestra el menú cuando la clase 'show' es agregada */
    }
}
@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
    
    .element {
      width: 100%;
      margin: 0;
    }
  }
  @media (max-width: 768px) {
    .element {
      margin: 0;
      padding: 0;
    }
    /* #scrollTopBtn {
        width: 100%;
        display: none;
    } */
  }
  

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu {
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 25px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .logo {
        margin: 10px 0;
        align-self: center;        
        flex-wrap: wrap;
        justify-content: space-between;
        width: 40px;
        height: auto;

       
    }
    .socials {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-left: 60px;
        
    }
    * {
        box-sizing: border-box;
    }  
 

    .slider {
        flex-direction: column;
        padding: 0;
    }
    .slider1 {
        flex-direction: column;
        padding: 0;
    }
    .slider img {
        width: 100%;
        margin-bottom: 20px;
    }
    .slider-content {
        text-align: center;
    }
    .slider-controls {
        padding: 0;
        padding-top: 10px;
        
        
    }

    .slider-controls button {
        background: transparent;
        border: 2px solid #d3af62;
        color: #d3af62;
        border-radius: 15px;
        padding: 15px;
        text-align: center;   
        position:relative;
        top: 0px;
        left: 10px;    
        
    }

    .ecommerce {
        grid-template-columns: 1fr;
    }

    .join {
        flex-direction: column;
        text-align: center;
    }
    .join img {
        width: 100%;
        margin-bottom: 20px;
    }
    .join-form {
        width: 100%;
    }
    .join-form input, .join-form select, .join-form button {
        width: 100%;
    }
    .join-form small {
        text-align: left;
    }

    footer {
        font-size: 14px;
    }
    /** {
        outline: 1px solid red;
    }*/
    
}
